<footer>
  <section class="social">
    <a href="http://github.com">
      <i
        class="fa-brands fa-github fa-beat"
        style="color: var(--quaternary-color)"
      >
      </i>
    </a>
    <a href="http://twitter.com">
      <i
        class="fa-brands fa-x-twitter fa-beat"
        style="color: var(--quaternary-color)"
      ></i>
    </a>
    <a href="https://fr.linkedin.com">
      <i
        class="fa-brands fa-linkedin fa-beat"
        style="color: var(--quaternary-color)"
      ></i>
    </a>
  </section>
</footer>
