.social {
  display: flex;
  margin-top: 30px;
  margin-bottom: 5px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  width: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
}

.fa-brands {
  font-size: 24px;
  margin: 0 5px;
}
